# Ignore everything in this directory
 * 
# Except this file 
!.gitignore
/BackSrc/.vs/
/BackSrc/AdminSystem.Api/log/
/FrontSrc/node_modules/
/FontSrv_admin/node_modules/
/FontSrv_admin/dist/
/FontSrv_app/node_modules/
/FontSrv_app/dist/
/BackSrc/UserIdentity/bin/
/BackSrc/UserIdentity/obj/
/BackSrc/AdminSystem.Api/bin/
/BackSrc/AdminSystem.Api/obj/
/BackSrc/AdminSystem.Domain/bin/
/BackSrc/AdminSystem.Domain/obj/
/BackSrc/AdminSystem.Infrastructure/bin/
/BackSrc/AdminSystem.Infrastructure/obj/
/BackSrc/AdminSystem.Application/bin/
/BackSrc/AdminSystem.Application/obj/

/BackSrc/test/unitTest/bin/
/BackSrc/test/unitTest/obj/
