# Ignore everything in this directory
 * 
# Except this file 
!.gitignore
/BackSrc/.vs/
/BackSrc/log/
/BackSrc/UserIdentity/bin/
/BackSrc/UserIdentity/obj/
/BackSrc/AdminSystem.Api/bin/
/BackSrc/AdminSystem.Api/obj/
/BackSrc/AdminSystem.Domain/bin/
/BackSrc/AdminSystem.Domain/obj/
/BackSrc/AdminSystem.Infrastructure/bin/
/BackSrc/AdminSystem.Infrastructure/obj/
/BackSrc/AdminSystem.Application/bin/
/BackSrc/AdminSystem.Application/obj/
