# Ignore everything in this directory
 * 
# Except this file 
!.gitignore
/.vs/
/UserIdentity/bin/
/UserIdentity/obj/
/AdminSystem.Api/bin/
/AdminSystem.Api/obj/
/AdminSystem.Domain/bin/
/AdminSystem.Domain/obj/
/AdminSystem.Infrastructure/bin/
/AdminSystem.Infrastructure/obj/
/AdminSystem.Application/bin/
/AdminSystem.Application/obj/
